body{
	background-color: #F7F9FC;
	color: #575F7D;
	font-family:'Lora',sans-serif;
	font-size: 17px;
	font-weight: lighter;
}
h1,h2{
	font-family: 'Roboto',sans-serif;
}
h1 {
	color:#5F5F7D;
	font-size: 32px;
	font-weight: 900;
}
h2 {
	color:#7ECE90;
	font-size: 24px;
	font-weight: 400;
}
a {
	font-family: 'Roboto',sans-serif;
	text-decoration: none;
	color:#6B72E1;
	font-weight: 600;
}
a : hover {
	color: black;
}

.cont-design{
	width: 700px;
	margin: 40px auto;
}
.img-circle{
	border-radius: 50%;
}
.card-white{
	background-color: white;
	padding: 40px;
	border-radius: 4px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	margin: 20px 0px;
	text-align: center;
}

.btn-blue:hover {
	background-color:#6B72E1;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
	
}
.btn-blue {
	background-color: blue;
	color: white;

}
.list-online  {
	list-style: none;
	padding-left: 0px;
}

.list-online li {
	display: inline;
	padding: 10px;
}

#intro p{
	margin-bottom: 40px;
}